<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="runMode" value="UCI" />
  <add key="randomness" value="19" />
  <add key="totalRemainingMoves" value="12" />
  <add key="hashSizeInMB" value="128" />
  <add key="enableLogs" value="false" /> 
  <add key="ponderIsAllowed" value="false" />
  <add key="cpuCount" value="4" /> 
</appSettings>
</configuration>