<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="runMode" value="UCI" />
  <add key="randomness" value="19" />
  <add key="totalRemainingMoves" value="12" />
  <add key="baseMemoryInMB" value="70" />
  <add key="hashSizeInMB" value="256" />
  <add key="hashAllocationCostCoeff" value="2.7" />
  <add key="enableLogs" value="false" /> 
  <add key="ponderIsAllowed" value="false" />
  <add key="cpuCount" value="4" />
  <add key="nnueEval" value="true" />
  <add key="nnuePawnValue" value="208" />
</appSettings>
</configuration>